@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #dfeef5;
     }

    /* heading and logo */
    h1, h2 {
        text-transform: uppercase;
        font-family: 'Special Elite', cursive;
        letter-spacing: 4px;
        color: #2b4270;
    }

    #logo {
        text-align: center;
        font-size: 50px;
        margin: 3%;
    }

    /* Navigation links */

    #menu, logo {
        line-height: 75px;
    }

    #menu {
        font-size: 110%;
        letter-spacing: 4px;
        text-transform: uppercase;

    }

    #menu li {
        list-style-type: none;
        display: inline-block;
        margin-inline: 70px;
    
    }

    #menu a {
        text-decoration: none;
        color: #a86808;
        font-family: 'Special Elite', cursive;
        
    }

    #menu a:hover {
        border-bottom: 2px solid #2b4270 ;

    }

    .active {
        border-bottom: 2px solid #2b4270 ;
    }

    /* main image */
   
    #hero-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
    }

    #hero-image {
        height: 600px;
        width: 100%;
        background: url(../css/Hero-image.jpg) no-repeat center center;
        background-size: 100%;
        
        /* animate zoom on loading */
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;

     }

     /* level of zoom for hero image */

     @keyframes hero-zoom {
         from {
            transform: scale(1); 
         }
         to {
            transform: scale(1.1); 
         }
     }
     

