@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #dfeef5;
     }

    /* heading and logo */
    h1, h2 {
        font-family: 'Special Elite', cursive;
        letter-spacing: 4px;
        color: #324949;
    }

    #logo {
        text-align: center;
        font-size: 50px;
        margin: 3%;
    }